@import "fonts"

body.overf
	overflow: hidden

section
	height: 900px
	padding: 65px 100px
	font-size: 50px
	position: relative
	width: 100vw
	overflow: hidden
	h2
		font-family: 'Concert One',Arial,sans-serif

body
	.forMe
		position: relative
		background-color: #12314d
		display: flex
		justify-content: center
		color: #716f6f

.list
	align-self: center
	background-color: #fcfff5
	width: 100%
	padding: 80px 78px
	border-radius: 15px
	box-shadow: 15px 9px 20px 4px black;
	display: flex
	align-items: center
	position: relative

.bolt
	width: 30px
	height: 30px
	background-color: #13324c
	color: #bdbaba
	font-size: 20px
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center
	position: absolute
	box-shadow: 2px 2px 1px #8a7f7f


.item1
	top: 25px
	left: 25px

.item2
	top: 25px
	right: 25px


.item3
	bottom: 25px
	left: 25px


.item4
	bottom: 25px
	right: 25px

.x
	width: 13px

.img-wrap
	display: flex
	height: 400px
	width: 400px
	background-image: url("https://pp.userapi.com/c626626/v626626013/34374/ejNRexGuDlA.jpg")
	background-size: cover
	background-position: center
	border-radius: 50%
	margin: auto
	opacity: 0
	box-shadow: 2px 2px 1px #8a7f7f

.active
	.img-wrap
		animation: forMetwo 1s ease 0.8s forwards 

@keyframes forMetwo
	0%
		opacity: 0
	100%
		opacity: 1	

.text-wrap
	display: flex
	align-items: center

.forme-content
	font-weight: bold
	margin-bottom: 55px
	letter-spacing: 2px
	font-family: 'Concert One', cursive;
	font-size: 80px
	white-space: nowrap
	transform: translateX(30px)
	opacity: 0

.active
	.forme-content
		transform: translateX(0px)
		transition: all 0.5s ease
		opacity: 1

.forme-decr
	font-style: italic;
	font-size: 16px;
	line-height: 35px
	transform: translateY(30px)
	opacity: 0

.active
	.forme-decr
		animation: forMe 0.5s ease 0.5s forwards 




@keyframes forMe
	0%
		transform: translateY(30px)

	100%
		transform: translateY(0px)
		opacity: 1

.iem
	max-height: 490px
	border-radius: 3px



.text-content
	padding-right: 120px
	padding-left: 100px



.window
	width: 700px
	height: 500px
	background-color: #000
	border-radius: 8px
	box-shadow: 8px 9px 20px 0px #403f3f

.top-bord
	height: 30px
	background-color: #b4b4b4
	border-top-left-radius: 8px
	border-top-right-radius: 8px
	font-size: 0px

.circle
	height: 12px
	width: 12px
	background-color: #000
	display: inline-block
	border-radius: 50%
	margin-left: 12px
	margin-top: 10px

.s-clos
	border: 1px solid #d56768
	background-color: #ff5d5b

.curtail
	border: 1px solid #ffb335
	background-color: #ffbc4c

.expand
	border: 1px solid #7cac88
	background-color: #00c956

.text-block
	color: #fff
	font-size: 20px
	margin-left: 20px
	margin-top: 40px
	line-height: 30px

.line
	position: relative
	font-size: 1.25em
	font-family: monospace
	white-space: nowrap
	overflow: hidden
	width: 0
	padding: 3px 0px

.cur
	color: #fff
	font-weight: bold

.active
	.line1
		color: #3498DB
		animation: type 0.5s  steps(20, end) forwards

	.cursor1
		animation: blink 0.5s 0.6s 2 forwards

	.line2
		color: #D1D5D8
		animation: type 0.5s 1.2s steps(20, end) forwards

	.cursor2
		animation: blink 0.5s 1.8s 2 forwards

	.line3
		color: #F1C40F
		animation: type 0.5s 2.4s steps(20, end) forwards

	.cursor3
		animation: blink 0.5s 3s 2 forwards

	.line4
		color: #E74C3C
		animation: type 0.5s 3.6s steps(20, end) forwards

	.cursor4
		animation: blink 0.5s 4.2s 2 forwards

	.line5
		color: #1ABC9C
		animation: type 0.5s 4.9s steps(20, end) forwards

	.cursor5
		animation: blink 0.5s 5.3s 2 forwards

	.line6
		color: #fff
		animation: type 1s 6.2s steps(20, end) forwards

	.cursor6
		animation: blink 0.5s  infinite

@keyframes blink
	0%
		opacity: 0

	40%
		opacity: 0

	50%
		opacity: 1

	90%
		opacity: 1

	100%
		opacity: 0


@-webkit-keyframes type
	to
		width: 17em

.skils
	background-color: #a0a0a0
	position: relative
	

.section-desc
	font-size: 85px
	font-weight: 700
	text-transform: uppercase
	color: #94575d
	margin-bottom: 70px
	text-align: center
	margin-top: 24px

.sckils-wrap
	display: flex
	justify-content: center

.portfolio
	background-image: url("../img/port.png")
	background-position: center center

.oll-wrap
	display: flex
	width: 1115px
	margin: 0 auto



.slider-wrap
	width: 796px
	height: 478px
	background-color: #000
	position: relative
	border-radius: 10px 10px 0 0
	box-shadow: 5px 7px 20px 0px rgba(0, 0, 0, 0.67)

.b-carousel__item
	height: 100%
	width: 100%
	position: absolute
	top: 30px
	left: 0
	opacity: 0
	z-index: -1
	transition: opacity 300ms linear
	&.active
		opacity: 1
		transition: opacity 300ms linear
		z-index: 0
		&:hover
			opacity: 0.7


.js-carousel__prev
	border: 30px solid transparent
	border-right: 43px solid #b4be64
	width: 0
	height: 0
	top: 40%
	position: absolute
	left: -150px

.js-carousel__next
	border: 30px solid transparent
	border-left: 43px solid #b4be64
	width: 0
	height: 0
	top: 40%
	position: absolute
	right: -450px

.js-carousel__next
	&:active
		border-left-color: #666b3c

.js-carousel__prev
	&:active
		border-right-color: #666b3c

.b-carousel__item img
	width: 100%

.js-carousel__wrap
	height: 100%

.phone-wrap
	display: flex
	text-align: center
	width: 215px
	height: 450px
	position: relative
	background-color: #c2c4c6
	border-radius: 21px
	box-shadow: 5px 7px 20px 0px rgba(0, 0, 0, 0.67)
	margin-left: 100px

.p-wrap
	width: 50px
	height: 0
	display: block
	margin: 11px auto

.p-line
	width: 50px
	height: 6px
	border-radius: 3px
	display: block
	background-color: #6a6c6d
	margin-top: 7px

.circle-small
	height: 10px
	width: 10px
	display: block
	border-radius: 50%
	background-color: #6a6c6d
	margin: 0 auto

.screen
	position: absolute
	width: 200px
	height: 355px
	background-color: #fff
	top: 45px
	left: 8px

.circle-bot
	width: 34px
	height: 34px
	border-radius: 50%
	position: absolute
	border: 2px solid #656363
	bottom: 7px
	left: 92px

.p-screen
	width: 100%
	position: absolute
	left: 0
	opacity: 0
	transition: opacity 400ms linear

.active
	opacity: 1
	transition: opacity 400ms linear

.form-wrap
	display: flex
	justify-content: center
	font-size: 14px
	width: 430px
	margin: 0 auto

.form-desc
	font-size: 30px
	font-weight: bold
	margin-bottom: 19px


.topBefore
	display: flex
	flex-direction: column
	background-color: #24333c
	border-radius: 7px
	box-shadow: 6px 6px 20px 4px rgba(0, 0, 0, 0.41)
	width: 100%
	padding: 30px 37px
	input,
	textarea
		margin-bottom: 40px
		background-color: transparent
		border: 1px solid #2f7944
		border-radius: 3px
		color: #818d90
		height: 40px
		padding: 0 15px
		width: 100%
	textarea
		height: 90px
		padding: 8px 15px
		width: 100%
		margin-bottom: 35px
	.submit
		font-size: 20px
		text-transform: uppercase
		&:hover
			background-color: #2f7944
			color: #fff
			cursor: pointer

.error
	max-width: 270px
	display: none
	font-size: 13px
	line-height: 15px
	color: #fff
	position: absolute
	bottom: 5px
	z-index: 0
	padding: 6px 10px 7px
	-webkit-border-radius: 6px
	border-radius: 6px
	background: #d99
	width: 100%
	&:before
		width: 0
		height: 0
		content: ''
		position: absolute
		left: 15px
		top: -7px
		border-right: 8px solid transparent
		border-left: 8px solid transparent
		border-bottom: 8px solid #d99

.topBefore
	.form-control_error
		border-color: #d99

.inp-wrp
	position: relative



.soc-wrap
	width: 28vw
	margin: 0 auto 0
	display: flex
	justify-content: center

.soc
	list-style-type: none
	margin: 0
	padding: 0
	display: flex
.soc-item
	padding: 5px 40px
	color: #7ab6d0
	display: inline-block
	&:hover
		color: #fff

.vk,
.git,
.facebook,
.codepen
	height: 40px
	width: 40px
	fill: #7ab6d0
	transition: fill 0.3s ease
	&:hover
		fill: #fff

.vk
	width: 50px
	height: 50px
	vertical-align: -6px


.contacts
	color: #fff
	background-image: url("../img/footimg.png")
	background-position: center bottom
	h2
		color: #fff

@import "media" // Всегда в конце
